﻿@model CarDealers.Entity.ImageCar
@{
    ViewBag.Title = "Create Car Image";
}

<div class="content-wrap">
    <div class="col-lg-12">
        <div class="card">
            @using (Html.BeginForm("CreateCarImages", "CarImages", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.CarId)
                    <input type="text" id="CarId" name="CarId" value="@ViewBag.CarId" class="form-control input-rounded"     readonly>
                    @*@Html.TextBoxFor(model => model.CarId, new { @class = "form-control input-rounded", value = "3" })*@

                    <div style="color : red">
                        @Html.ValidationMessageFor(model => model.CarId)
                    </div>
                </div>  

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, "Upload Image")
                    <input type="file" id="ImageCars" name="ImageCars" multiple class="form-control-file" />
                    <div style="color: red">
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                </div>

                <!-- Add other form fields as needed -->

                <button type="submit" class="btn btn-dark">Create News Type</button>
            }
        </div>
    </div>
    <a style="float:right;margin-right:20px" class="btn btn-dark" href="~/admin/Car/ListCar">Back to list</a>
</div>