﻿@model CarDealers.Entity.Customer
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutRegister";
}
@{
    ViewData["Title"] = "Register";
}
<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/images/register.jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <form asp-controller="Register" asp-action="Register" method="post">
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessage"]
                                        </div>
                                    }
                                    <h3 class="mb-5 text-uppercase">Register</h3>

                                    @if (TempData["ErrorMessageFullName"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessageFullName"]
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="fullName" name="fullName" value="@Model.FullName" class="form-control form-control-lg" required />
                                                <label class="form-label" for="form3Example1m">Full name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @if (TempData["ErrorMessageUsername"] != null)
                                        {
                                            <div class="alert alert-danger">
                                                @TempData["ErrorMessageUsername"]
                                            </div>
                                        }
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="username" name="username" value="@Model.Username" class="form-control form-control-lg" required />
                                                <label class="form-label" for="form3Example1m1">Username</label>
                                            </div>
                                        </div>
                                        @if (TempData["ErrorMessagePassword"] != null)
                                        {
                                            <div class="alert alert-danger">
                                                @TempData["ErrorMessagePassword"]
                                            </div>
                                        }
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password" id="password" name="password" value="@Model.Password" class="form-control form-control-lg" required />
                                                <label class="form-label" for="form3Example1n1">Password</label>
                                            </div>
                                        </div>
                                    </div>

                                    @if (TempData["ErrorMessageEmail"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessageEmail"]
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <input type="text" id="email" name="email" value="@Model?.Email" class="form-control form-control-lg" required />
                                        <label class="form-label" for="form3Example97">Email</label>
                                    </div>

                                    @if (TempData["ErrorMessageAddress"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessageAddress"]
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <input type="text" id="address" name="address" value="@Model.Address" class="form-control form-control-lg" required />
                                        <label class="form-label" for="form3Example8">Address</label>
                                    </div>

                                    @if (TempData["ErrorMessageGender"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessageGender"]
                                        </div>
                                    }
                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                        <h6 class="mb-0 me-4">Gender: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="gender" id="maleGender" value="true" @(Model.Gender == null || (bool)Model.Gender ? "checked" : "") />
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="gender" id="femaleGender" value="false" @(Model.Gender != null && !(bool)Model.Gender ? "checked" : "") />
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                        </div>
                                    </div>

                                    @if (TempData["ErrorMessageDoB"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessageDoB"]
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        @{
                                            var defaultDob = Model.Dob ?? DateTime.Now;
                                        }
                                        <input type="date" id="dob" name="dob" value="@defaultDob.ToString("yyyy-MM-dd")" class="form-control form-control-lg" required />
                                        <label class="form-label" for="dob">DOB</label>
                                    </div>

                                    @if (TempData["ErrorMessagePhoneNumber"] != null)
                                    {
                                        <div class="alert alert-danger">
                                            @TempData["ErrorMessagePhoneNumber"]
                                        </div>
                                    }
                                    <div class="form-outline mb-4">
                                        <input type="tel" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber" class="form-control form-control-lg" required />
                                        <label class="form-label" for="form3Example90">Phone Number</label>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="button" class="btn btn-light btn-lg" id="resetButton">Reset all</button>
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                                    </div>
                                    <p class="w-100 text-center">Already have account? &mdash; <a href="/Account/Login"><span class="ion-logo-facebook mr-2"></span> Login</a></p>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<script>
    document.getElementById('resetButton').addEventListener('click', function () {
        document.getElementById('email').value = '';
        document.getElementById('fullName').value = '';
        document.getElementById('username').value = '';
        document.getElementById('password').value = '';
        document.getElementById('address').value = '';
        document.getElementById('maleGender').checked = true;
        document.getElementById('dob').value = '';
        document.getElementById('phoneNumber').value = '';
    });

</script>
