﻿@model IEnumerable<CarDealers.Areas.Admin.Models.OrderCarViewModel.ListOrderCarViewModel>

@{
    ViewBag.Title = "List Order Car";
}

<style>
    .button-container {
        display: flex;
        gap: 10px; /* Adjust the gap to set the space between links */
        justify-content: center;
    }

    th, td {
        text-align: center; /* Equal width for each column */
    }

    .resized-img {
        width: 100px; /* Set the desired width */
        height: 100px; /* Set the desired height */
    }
</style>


<div class="content-wrap">
    <!-- Filter Form -->
    <!-- End Filter Form -->
    <div class="col-lg-12">
        <div class="card">
            <form method="post" action="@Url.Action("ListOrderCar", "OrderCar", new { area = "admin" })">
                <div class="filter-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="search-form">
                                <div class="form-group">
                                    <label for="Keyword">Search:</label>
                                    <input type="text" class="form-control" id="Keyword" name="Keyword" value="@ViewBag.Keyword">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="statusFilter">Status:</label>
                                @Html.DropDownList("statusFilter", (IEnumerable<SelectListItem>)ViewBag.StatusOptions, "All", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" name="pageSize" value="@ViewBag.PageSize" />
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form method="post" action="@Url.Action("DeleteListOrderCar", "OrderCar", new { area = "admin" })">
            <div class="card">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Manage Car Order</h2>
                                </div>
                                <div class="col-sm-6">
                                    @* @Html.ActionLink("Create Customer Car Order", "CreateOrderCarCustomer", "OrderCar", null, new { @class = "btn btn-dark" })
                                    @Html.ActionLink("Create Guest Car Order", "CreateOrderCarGuest", "OrderCar", null, new { @class = "btn btn-dark" }) *@
                                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete selected records?');" />
                                </div>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectAll"><br><br>
                                    </th>
                                    <th>Id</th>
                                    <th>Customer Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    @* <th>Coupon</th> *@
                                    <th>Order Date</th>
                                    <th>Status</th>
                                    <th colspan="2" style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Car in Model)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selectedIds" value="@Car.OrderId" class="checkBox" />
                                            @Html.Hidden("OrderId", Car.OrderId)
                                        </td>
                                        <td>@Car.OrderId</td>
                                        <td>@Car.FullName</td>
                                        <td>@Car.Email</td>
                                        <td>@Car.PhoneNumber</td>
                                        @* @if (@Car.Coupon == null)
                                        {
                                            <td>No coupon</td>
                                        }
                                        else
                                        {
                                            <td>@Car.Coupon</td>
                                        } *@
                                        <td>@Car.DateOrder</td>
                                        <td>@(Car.Status)</td>
                                        <td class="button-td">
                                            <div class="button-container">
                                                <a href="~/admin/OrderCar/UpdateOrderCar?id=@Car.OrderId"><input type="button" value="Edit" class="btn btn-dark" /></a>
                                                <a href="~/admin/OrderCar/ViewOrder?id=@Car.OrderId"><input type="button" value="View Order" class="btn btn-dark" /></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                				<div class="d-flex justify-content-between align-items-center">
					<div class="ml-3">
						<label for="pageSizeDropdown">Records per page:</label>
						<select id="pageSizeDropdown" class="form-control" onchange="updatePageSize(this)">
							@foreach (var size in ViewBag.PageSizeList)
							{
								var url = Url.Action("ListOrderCar", new { page = 1, pageSize = size, Keyword = ViewBag.Keyword, statusFilter = ViewBag.Status });
								<option value="@url" @(size == ViewBag.PageSize ? "selected='selected'" : "")>@size</option>
							}
						</select>
					</div>
					<div class="d-flex justify-content-center" style="margin-top: 20px">
						<nav aria-label="Page navigation text-center">
							<ul class="pagination">
								@if (ViewBag.PageNumber > 1)
								{
									<li class="page-item">
										<a href="@Url.Action("ListOrderCar", new { page = 1, pageSize = ViewBag.PageSize, Keyword = ViewBag.Keyword,statusFilter = ViewBag.Status })" class="page-link">Previous</a>
									</li>
								}

								@for (int i = 1; i <= Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize); i++)
								{
									<li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
										<a href="@Url.Action("ListOrderCar", new { page = i, pageSize = ViewBag.PageSize, Keyword = ViewBag.Keyword, statusFilter = ViewBag.Status })" class="page-link">@i</a>
									</li>
								}

								@if (ViewBag.PageNumber < Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize))
								{
									<li class="page-item">
                                        <a href="@Url.Action("ListOrderCar", new { page = Math.Ceiling((decimal)ViewBag.TotalRecords / ViewBag.PageSize), pageSize = ViewBag.PageSize, Keyword = ViewBag.Keyword,statusFilter = ViewBag.Status })" class="page-link">Next</a>
									</li>
								}
							</ul>
						</nav>
					</div>
				</div>
            </div>
        </form>
        <script>
            var selectAllCheckbox = document.getElementById('selectAll');
            var checkBoxes = document.querySelectorAll('.checkBox');

            selectAllCheckbox.addEventListener('change', function () {
                for (var i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].checked = selectAllCheckbox.checked;
                }
            });
        </script>
    </div>
</div>



