﻿@model CarDealers.Models.CarPageModel.CreateOrderViewModel
@{
    ViewData["Title"] = "Deposit Payment";
}
<style>
    #content {
        margin-bottom: 65px;
    }
</style>

<div class="container layout_padding2 mobile_padding-top-none" id="content">
    @using (Html.BeginForm("DepositPayment", "CarPage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CarId)
        @Html.HiddenFor(model => model.ColorId)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.CreatedOn)
        <div class="row">
            <div class="col-md-4">
                <h5>Customer Information</h5>
                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, "Full name")
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email")
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, "Phone number")
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, "Address")
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
            </div>
            <div class="col-md-4">
                <h5>Car information</h5>
                <div class="form-group">
                    @Html.LabelFor(model => model.CarName, "Model")
                    @Html.TextBoxFor(model => model.CarName , new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CarColor, "Color")
                    @Html.TextBoxFor(model => model.CarColor, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
                <div class="col-lg-6">
                    Car image
                    <img src="@Url.Content("~/"+ViewBag.Image)" class="card-img-top" alt="..." style="height: 200px;width: 200px;">
                </div>
            </div>
            <div class="col-md-4">
                <h5>QR Code</h5>
                <img src="~/images/QRCodeForOrderCar.png" alt="QR Code Image" class="img-fluid">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepositePrice, "Deposite price")
                    @Html.TextBoxFor(model => model.DepositePrice, new { @class = "form-control input-rounded", @readonly = "readonly"  })
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-4 text-center">
                <button type="submit" formaction="~/CarPage/ListCar" class="btn btn-danger">Back</button>
                <button type="submit" class="btn btn-primary custom-button">I've completed a payment in app</button>
            </div>
        </div>
    }
</div>
