﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using CarDealers.Entity
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    // string jsoncart = session.GetString (CarDealers.Controllers.AccessoriesPageController.CARTKEY);
    // if (jsoncart != null) {
    //     var cart = JsonConvert.DeserializeObject<List<CartItem>> (jsoncart);
    //     <div class="nav-item"><a asp-route="cart">Cart(@cart.Count)</a></div>
         
    // }
}
