﻿@using CarDealers.Util
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .menu-link {
            color: white;
            font-size: 20px;
            padding-right: 30px;
            text-decoration: none; 
            transition: color 0.3s; 
        }

            .menu-link:hover {
                color: #FF0000;
            }

        .color {
            background-color: red;
            color: #FFFFFF;
            padding-left:20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }


    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CarDealers.styles.css" asp-append-version="true" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/cssProfile/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
    <script src="~/Plugin/ckeditor/ckeditor.js” type=”text/javascript"></script>
</head>
<body>
    <header class="header_section">
        <div class="container-fluid" style="background:black">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">

                            @if (ViewBag.Menu != null && ViewBag.Menu.Count > 0)
                            {
                         


                                @for (int i = 0; i < ViewBag.Menu.Count; i++)
                                {
                                    @*<a style="padding-top:10px" class="menu-link @(Context.Request.Path.Value == Html.Raw(ViewBag.Menu[i].Content).Value ? "color" : "")" href="@Html.Raw(ViewBag.Menu[i].Content)">
                                        @Html.Raw(ViewBag.Menu[i].Title)
                                    </a>*@
                                    <li class="nav-item @(Context.Request.Path.Value == Html.Raw(ViewBag.Menu[i].Content).Value ? "active" : "")">
                                        <a class="nav-link" href="@Html.Raw(ViewBag.Menu[i].Content)">@Html.Raw(ViewBag.Menu[i].Title) <span class="sr-only">(current)</span></a>
                                    </li>
                                }                               
                            }
                        </ul>
                        
                    </div>
                    <div class="login_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
                        @if (Context.Session.GetString("UserId") != null)
                        {
                            <div style="display: flex; align-items: center;">
                                <a href="/UserProfile/Index" style="display:flex">
                                    <i class="fa-regular fa-user fa-2xl" style="color: #d8540e; margin:10px"></i>
                                    <p style="color:white; margin:auto">@Context.Session.GetString(Constant.LOGIN_USERNAME_SESSION_NAME)</p>
                                </a>                               
                                <form method="post" action="/Account/Logout" class="p-2">
                                    <button type="submit" class="btn btn-outline-success">Logout</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="/Account/Login" class="m-2">Login</a>
                                <a href="/Register/Register" style="color:red">Register</a>
                            </div>

                        }
                    </div>

                </div>
            </nav>
        </div>
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top"
                style="position: fixed;
             bottom: 20px;
             right: 20px;
             display: none;">
            <i class="fas fa-arrow-up"></i>
        </button>
    </header>

    @RenderBody()

    <section class="info_section ">
        <div class="d-flex justify-content-center">
            <div class="social_container">
                <div class="number-box">
                    <a href="tel:+8467355255">
                        <img src="~/images/phone.png" alt="Phone">
                        <h6>
                            +84967355255
                        </h6>
                    </a>
                </div>
                <div class="mail-box">
                    <a href="mailto:SwpG1@gmail.com">
                        <img src="~/images/mail.png" alt="Email">
                        <h6>
                            SwpG1@gmail.com
                        </h6>
                    </a>
                </div>
                @*<div class="social-box">
                    <div class="box">
                        <a href="">
                            <img src="~/images/facebook-logo.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/instagram-logo.png" alt="">
                        </a>
                    </div>
                </div>*@

            </div>
        </div>
        <div class="container layout_padding2 mobile_padding-top-none ">
            <div class="row">
                <div class="col-md-4">
                    @if (ViewBag.FooterText != null && ViewBag.FooterText.Count > 0)
                    {
                        <h5>@Html.Raw(ViewBag.FooterText[0].Title)</h5>
                        @Html.Raw(ViewBag.FooterText[0].Content)
                    }
                </div>
                <div class="col-md-4">
                    @if (ViewBag.FooterText != null && ViewBag.FooterText.Count > 1)
                    {
                        <h5>@Html.Raw(ViewBag.FooterText[1].Title)</h5>
                        @Html.Raw(ViewBag.FooterText[1].Content)
                    }
                </div>
                <div class="col-md-4">
                    @if (ViewBag.FooterText != null && ViewBag.FooterText.Count > 2)
                    {
                        <h5>@Html.Raw(ViewBag.FooterText[2].Title)</h5>
                        @Html.Raw(ViewBag.FooterText[2].Content)
                    }
                </div>
            </div>
        </div>
    </section>
    <footer class="container-fluid footer_section">
        <p>
            &copy; <span id="getcurrentYear"></span> All Rights Reserved By FPT University
        </p>
    </footer>
    <script>
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/bfbb98b4c4.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


