﻿@using CarDealers.Util
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>@ViewData["Title"]</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Styles -->
    <link href="~/cssAd/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/cssAd/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="~/cssAd/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/cssAd/lib/themify-icons.css" rel="stylesheet">
    <link href="~/cssAd/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/cssAd/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/cssAd/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/cssAd/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/cssAd/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/cssAd/lib/helper.css" rel="stylesheet">
    <link href="~/cssAd/style.css" rel="stylesheet">
    <link href="~/cssAd/styleTable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
    <script src="~/Plugin/ckeditor/ckeditor.js” type=”text/javascript"></script>


</head>
<style>
    .resized-logo {
        width: 200px; /* Set the desired width */
        height: 150px; /* Set the desired height */
        max-width: 100%;
        height: auto;
    }
</style>
<body style="background-color: darkgray;">
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" background="#00000">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="@Url.Action("adminhomepage", "home")">
                            <img src="~/images/logoCar.png" alt="" class="resized-logo" />
                        </a>
                    </div>
                    <li class="label">Main</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-home"></i> Dashboard <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("adminhomepage", "home")">Dashboard 1</a></li>
                        </ul>
                    </li>

                    <li class="label">Apps</li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-car"></i> Car management <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("listcar", "car")">Car list</a></li>
                            <li><a href="@Url.Action("listcartype", "cartype")">Type Car list</a></li>
                            <li><a href="@Url.Action("listbrand", "brand")">Brand car list</a></li>
                            <li><a href="@Url.Action("listenginetype", "enginetype")">Engine type car list</a></li>
                            <li><a href="@Url.Action("listfuel", "fuel")">Fuel type car list</a></li>
                            <li><a href="@Url.Action("listcolor", "color")">Color car list</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-user"></i> User management <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("listuser", "user")">User list</a></li>
                            <li><a href="@Url.Action("listcustomer", "customer")">Customer list</a></li>
                            <li><a href="@Url.Action("listrole", "role")">Role list</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-receipt"></i> Booking management <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("listservicetype", "servicetype")">Service Type List</a></li>
                            <li><a href="@Url.Action("Listbookingservice", "bookingservice")">Booking List</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-user"></i> Trial Driving <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("ListTrialDriving", "TrialDriving")">Trial driving list</a></li>
                            @*<li><a href="@Url.Action("ListTrialDriving", "TrialDriving")">Car trial list</a></li>*@
                        </ul>
                    </li>                  
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-pencil-alt"></i>News <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("listnews", "news")">News</a></li>
                            <li><a href="@Url.Action("listnewstype", "newstype")">News Type</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("listaccessories", "accessories")"><i class="ti-package"></i> Accessories </a></li>
                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="ti-pencil-alt"></i>Order <span class="sidebar-collapse-icon ti-angle-down"></span>
                        </a>
                        <ul>
                            <li><a href="@Url.Action("listorderaccessories", "orderaccessories")">Accessories Order</a></li>
                            <li><a href="@Url.Action("listordercar", "ordercar")">Car Order</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("listcoupons", "coupons")"><i class="ti-image"></i>Coupons</a></li>
                    @*<li><a href="@Url.Action("listcarimages", "carimages")"><i class="ti-image"></i> Media library </a></li>*@
                    <li><a href="@Url.Action("Index", "SendEmail")"><i class="ti-email"></i> Send Email </a></li>
                </ul>



            </div>
        </div>
    </div>

    <!-- /# sidebar -->
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="float-left">
                            <div class="hamburger sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>

                        <div class="ml-auto">
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Context.Session.GetString(Constant.LOGIN_USERNAME_SESSION_NAME)
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-user"></i>
                                                <span>Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <form method="post" action="/admin/logout" class="p-0">
                                                <button type="submit" class="btn btn-light">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()
    <!-- jquery vendor -->
    <script src="~/jsAd/lib/jquery.min.js"></script>
    <script src="~/jsAd/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/jsAd/lib/menubar/sidebar.js"></script>
    <!-- sidebar -->
    <script src="~/jsAd/lib/bootstrap.min.js"></script>
    <script src="~/jsAd/scripts.js"></script>
</body>
</html>

