﻿@model CarDealers.Entity.TrialDriving
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Update Trial Driving";
}
<style>
    .resized-img {
        width: 155px; /* Set the desired width */
        height: 155px; /* Set the desired height */
    }

    .select-sm {
        height: 100px; /* Adjust the height as needed */
        /* Add any other styling you want */
    }

    .btn-group label {
        margin-right: 50px; /* Adjust this value to control the space between the buttons */
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Include Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<div class="content-wrap">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("UpdateTrialDriving", "TrialDriving", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.TrialId)
                <div class="card">
                    <!-- Read-only fields -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName)
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber)
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CarTrail.Car.Model)
                        @Html.TextBoxFor(model => model.CarTrail.Car.Model, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CarTrail.PlateNumber)
                        @Html.TextBoxFor(model => model.CarTrail.PlateNumber, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        <label>Car Trial Status</label>
                        @Html.TextBoxFor(model => model.CarTrail.Status, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateBooking)
                        <input type="text" id="DateBooking" asp-for="DateBooking" class="form-control input-rounded" name="DateBooking" value="@Model.DateBooking" readonly="readonly">
                        <script>
                            flatpickr("#DateBooking", {
                                enableTime: false, // Enable time selection
                                dateFormat: "d-m-Y", // Date format
                            });
                            document.querySelector('.flatpickr').setAttribute('readonly', 'readonly');
                        </script>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DriverLicense)
                        @Html.TextBoxFor(model => model.DriverLicense, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Request)
                        @Html.TextBoxFor(model => model.Request, new { @class = "form-control input-rounded", @readonly = "readonly" })
                    </div>
                    <div class="form-group" id="statusContainer">
                        @Html.LabelFor(model => model.Status)
                        <br />
                        <input type="radio" name="Status" id="option1" value="1" @(Model.Status == 1 ? "checked" : "") @(Model.Status == 1 ? "disabled" : "")>
                        <label style="margin-right: 10px;" for="option1">Active</label>

                        <input type="radio" name="Status" id="option2" value="0" @(Model.Status == 0 ? "checked" : "")>
                        <label for="option2">Inactive</label>

                        <div style="color : red">
                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" formaction="~/admin/TrialDriving/ListTrialDriving" class="btn btn-danger custom-button">Cancel</button>
                        <button type="submit" class="btn btn-dark custom-button">Update Trial Driving</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var statusContainer = document.getElementById("statusContainer");
        var radioOption1 = document.getElementById("option1");
        var radioOption2 = document.getElementById("option2");

        var initialStatus = @Model.Status;

        if (initialStatus === 1) {
            radioOption2.disabled = true;
        }

        statusContainer.addEventListener("click", function () {
            var currentStatus = parseInt(document.querySelector('input[name="Status"]:checked').value);

            if (initialStatus === 1 && currentStatus === 0) {
                radioOption2.checked = false;
                alert("Cannot switch from Active to Inactive.");
            }
        });
    });
</script>