﻿@model CarDealers.Entity.Customer
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Profile";
}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                @if (TempData["ErrorMessageImage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessageImage"]
                    </div>
                }
                @if (Model.Image != null)
                {
                    <div class="image-container" style="position: relative;">
                        <img class="rounded-circle mt-5" id="show-avatar" width="150" height="150" src="@Url.Content("~/"+@Model.Image)" alt="Avatar"
                         style="object-fit: cover; cursor: pointer;" onclick="document.getElementById('my-file').click()">
                        <i class="fa fa-pencil" id="edit-icon" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2em; display: none;"></i>
                    </div>
                }
                else
                {
                    <div class="image-container" style="position: relative;">
                        <img class="rounded-circle mt-5" id="show-avatar" width="150" height="150" src="~/images/@(Model.Gender != null && (bool)Model.Gender ? "male" : "female")_avatar.jpg"
                         style="object-fit: cover; cursor: pointer;" onclick="document.getElementById('my-file').click()">
                        <i class="fa fa-pencil" id="edit-icon" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 2em; display: none;"></i>
                    </div>
                }


                <input type="file" form="userForm" accept=".png, .jpeg, .jpg" name="image" id="my-file" style="display: none"
                       onchange="document.getElementById('show-avatar').src = window.URL.createObjectURL(this.files[0])">
                <br />
                <span class="font-weight-bold">@Model.Username</span>
                <span class="text-black-50">@Model.Email</span>
                <br />
                <form asp-controller="UserProfile" asp-action="YourCar">
                    <button class="btn btn-primary profile-button" type="submit">Your Car</button>
                </form>
                <br />
                <form asp-controller="UserProfile" asp-action="YourOrder">
                    <button class="btn btn-primary profile-button" type="submit">Your Order</button>
                </form>
                <br />
                <form asp-controller="UserProfile" asp-action="ChangePassword" method="get">
                    <button class="btn btn-primary profile-button" type="submit">Change Password</button>
                </form>
                <br />
                <form asp-controller="UserProfile" asp-action="YourBooking">
                    <button class="btn btn-primary profile-button" type="submit">Your Booking</button>
                </form>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <br />
                @if (TempData["SuccessMessage"] != null)
                {
                    <script type="text/javascript">
                        alert("Changes saved successfully");
                    </script>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
                @*          @using (Html.BeginForm("Update", "UserProfile", FormMethod.Post))*@
                <form asp-controller="UserProfile" asp-action="Index" method="post" id="userForm" enctype="multipart/form-data">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <div class="row mt-2">
                        @if (TempData["ErrorMessageFullName"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessageFullNumber"]
                            </div>
                        }
                        <div class="col-md-12"><label class="labels">Full Name</label><input type="text" class="form-control" id="fullName" name="fullName" value="@Model.FullName" required></div>
                    </div>
                    <div class="row mt-3">
                        @if (TempData["ErrorMessagePhoneNumber"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessagePhoneNumber"]
                            </div>
                        }
                        <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="@Model.PhoneNumber" required></div>
                        <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" id="address" name="address" value="@Model.Address" required></div>
                        <div class="col-md-12"><label class="labels">Gender</label></div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="true" @(Model.Gender != null && (bool)Model.Gender ? "checked" : "") />
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="gender" value="false" @(Model.Gender != null && !(bool)Model.Gender ? "checked" : "") />
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Receive Ads</label></div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ads" id="adsYes" value="true" @(Model.Ads ? "checked" : "") />
                                <label class="form-check-label" for="adsYes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ads" id="adsNo" value="false" @(Model.Ads ? "" : "checked") />
                                <label class="form-check-label" for="adsNo">No</label>
                            </div>
                        </div>
                        @if (TempData["ErrorMessageDoB"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessageDoB"]
                            </div>
                        }
                        <div class="col-md-12"><label class="labels">Date of Birth</label><input type="date" id="dob" name="dob" value="@Model.Dob?.ToString("yyyy-MM-dd")" class="form-control" required></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </form>
            </div>

        </div>
        <div class="col-md-4">
            <img src="~/images/profile-car.jpg" style="width:100%; height:100%">
        </div>
    </div>
</div>

<script>
    const imageContainer = document.querySelector(".image-container");
    const editIcon = document.getElementById("edit-icon");

    imageContainer.addEventListener("mouseenter", () => {
        editIcon.style.display = "block"; // Hiển thị biểu tượng khi di chuột vào
    });

    imageContainer.addEventListener("mouseleave", () => {
        editIcon.style.display = "none"; // Ẩn biểu tượng khi di chuột ra khỏi
    });
</script>