﻿@model List<CarDealers.Entity.CartItem>

<div class="container">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <nav style="margin-top: 1.786em; margin-bottom: 1.6em">
        <a href="/home/index">Home</a>
        <span class="delimiter">
            <i class="fa fa-angle-right"></i>
        </span>
        Selected to buy
    </nav>
    <header class="entry-header" style="text-align: center; margin-bottom: 2.857em;">
        <h1 class="entry-title" style="font-size: 2.857em; letter-spacing: -.025em; margin-bottom:0;">Selected to buy</h1>
    </header>

    @if (Model.Count > 0)
    {
        decimal total = 0;
        int stt = 1;

        <table class="table">
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            @foreach (var cartitem in Model)
            {
                var thanhtien = cartitem.quantity * cartitem.accessory.ExportPrice ?? 0;

                total += thanhtien;

                <tr>
                    <td>@(stt++)</td>
                    <td>@cartitem.accessory.AccessoryName</td>
                    <td>@(cartitem.accessory.ExportPrice?.ToString("n0")) VNĐ</td>
                    <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.accessory.AccessoryId}")" min="1" /></td>
                    <script>
                        $(document).ready(function () {
                            $('#quantity-@cartitem.accessory.AccessoryId').on('input', function () {
                                var value = $(this).val();
                                if (value === '0' || value === '') {
                                    $(this).val(1);
                                }
                            });
                        });
                    </script>
                    <td>@(thanhtien.ToString("n0")) VNĐ</td>
                    <td>
                        <button class="btn btn-success updatecartitem"
                        data-productid="@cartitem.accessory.AccessoryId">
                            Update
                        </button>
                        <a asp-route="removecart" asp-route-productid="@cartitem.accessory.AccessoryId"
                   class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-right">Total price</td>
                <td>@(total.ToString("n0")) VNĐ</td>
                <td></td>
            </tr>
        </table>

        <a asp-controller="OrderAccessories" asp-action="CreateOrderAccessories" class="btn btn-success">Proceed to payment</a>

        @section Scripts {
        <script>
            $(document).ready(function () {
                $(".updatecartitem").click(function (event) {
                    event.preventDefault();
                    var productid = $(this).attr("data-productid");
                    var quantity = $("#quantity-" + productid).val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.RouteUrl("updatecart")",
                        data: {
                            productid: productid,
                            quantity: quantity
                        },
                        success: function (result) {
                            window.location.href = "@Url.RouteUrl("cart")";
                        }
                    });
                });
            });
        </script>
    }

    }
    else
    {
        <div class="wocommerce">
            <div class="wocommerce-notice-wrapper"></div>
            <div style="margin:0 20px">
                <p class="cart-empty wocommerce-info" style="padding:50px 80px;background-color:#0f3057; text-align:center;font-size:16px;color:white">There are no products in the cart yet.</p>
            </div>

            <p class="return-to-shop" style="text-align:center;margin-bottom:7em;">
                <a class="button wc-backward wp-element-button" href="/AccessoriesPage/Accessories" style="font-size: .875rem;
    border-radius: 1.571em;
    padding: 1.036em 2.134em;
    border-width: 0;
    display: inline-block;
    color: #333e48;
    background-color: #efecec;
    border-color: #efecec;
    transition: all .2s ease-in-out;">Return to the store</a>
            </p>
        </div>

    }
</div>

