﻿@model CarDealers.Entity.AutoAccessory
@{
    ViewData["Title"] = "Accessories Details";
}
@Html.AntiForgeryToken()
<script>
    function navigateToHome() {
        // Thực hiện chuyển hướng đến trang Home
        window.location.href = '';
    }

    function navigateToAccessories() {
        // Thực hiện chuyển hướng đến trang Accessories
        window.location.href = '';
    }
</script>
<div>
    <br />
    <dd style="margin-left: 20%;">
        <a href="/Home">Home </a>/
        <a href="/AccessoriesPage/Accessories">Accessories</a>

        <br />
        <br />
        <h1 style="color: black; font-size: 35px;margin-top: 35px">@Html.Raw(Model.AccessoryName)</h1>
        <p style="color:red;font-size: 20px;">@Html.Raw(Model.ExportPrice.Value.ToString("N0").Replace(",",".")) VND</p>
        <br />
        <img style="height:500px;width:800px;" src="@Url.Content("~/"+Model.Image)" class="card-img-top">
    </dd>
    <br />
    <br />
    <br />
    <br />
    <dl class="row">
        <h3 style="margin-left: 20%;margin-top:20px;margin-bottom:20px">Introduction : </h3>
        <dd style="margin-left: 20%;">@Html.Raw(Model.Description)</dd>
    </dl>
    <div>
        <a asp-route="addcart"
           asp-route-productid="@Model.AccessoryId"
           class="btn btn-dark" style="float:right;margin-right:5px">Add to cart</a>
        <a style="float:right;margin-right:5px" href="~/AccessoriesPage/Accessories" class="btn btn-danger">Back</a>
    </div>
    <br />
    <br />
    <br />
    <hr>
    <h2 style="margin-left:10rem;margin-top:1rem;margin-bottom:1rem">Top accessories</h2>
    <div class="container">
        <div class="row">
            @foreach (var item in @ViewBag.TopAccessories)
            {
                <div style=" display: flex; flex-direction: row;" class="col-sm-4">
                    <a href="~/AccessoriesPage/ViewDetails?id=@item.AccessoryId" class="card-title" style="background-color: white;font-size:20px;">
                        <img style="max-height: 100px; max-width: 100px;" src="@Url.Content("~/"+item.Image)">
                    </a>
                    <a onmouseover="changeColor(this)" onmouseout="changeColor1(this)" href="~/AccessoriesPage/ViewDetails?id=@item.AccessoryId" class="card-title" style="background-color: white;font-size:15px;margin-left:8px;color:black">@item.AccessoryName</a>
                </div>
            }
        </div>
    </div>
    <hr style=" margin-bottom:50px">
</div>