﻿@model CarDealers.Entity.Customer
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Car Dealers";
}

<div class="hero_area">
    <section class=" slider_section ">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4">05</li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="slider_detail-box">
                                    <h1>
                                        Welcome <br>
                                        to our <br>
                                        car <br>
                                        showroom
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="slider_detail-box">
                                    <h1>
                                        Explore <br />
                                        our vehicle <br />selection
                                    </h1>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="slider_detail-box">
                                    <h1>
                                        Let us <br />assist <br />your car search
                                    </h1>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="slider_detail-box">
                                    <h1>
                                        Discover your <br /> dream car <br />today!
                                    </h1>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="slider_detail-box">
                                    <h1>
                                        Enjoy your showroom <br /> visit!
                                    </h1>
                                    <div class="btn-box">
                                        <a href="" class="btn-1">
                                            Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-container">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>
<!-- end about section -->
<!-- feature section -->
<section class="feature_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Featured Cars
            </h2>
            <hr>
        </div>
        <div class="carousel-wrap layout_padding2 ">
            <div class="owl-carousel owl-one">
                @if (ViewBag.topCars != null && ViewBag.topCars.Count > 0)
                {
                    var counter = 1; // Initialize a counter variable
                    @foreach (var item in ViewBag.topCars)
                    {
                        <div class="item">
                            <div class="content">
                                <div class="number-box">
                                    @counter
                                    @{
                                        counter++;
                                    }
                                </div>
                                <div class="top-content">
                                    <div class="img-box">
                                        <a href="~/CarPage/CarDetails?id=@item.CarId" class="card-title" style="background-color: white;font-size:20px;">
                                            <img src="~/@item.Image" class="card-img-top" alt="..." style="height: 190px;object-fit: contain;">
                                        </a>
                                    </div>
                                    <div class="img-text">
                                        <h6 class="price">
                                            @item.ExportPrice.ToString("N0").Replace(",", ".") VND
                                        </h6>
                                    </div>
                                </div>
                                <div class="bottom-content">
                                    <h5>
                                        @item.Model
                                    </h5>
                                    <p>
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                About Showroom
            </h2>
            <hr>
        </div>
        <div>
            <p>
                Showroom Jomo is an exciting destination for fashion enthusiasts and modern-lifestyle aficionados in the heart of the city. With its minimalist and elegant design, Showroom Jomo offers a unique shopping experience where you can explore diverse and distinctive fashion collections, from everyday wear to party attire and top-notch fashion accessories. Designed with a focus on detail and quality, Showroom Jomo immerses you in an intriguing space to cultivate your personal style and seek out premium fashion products. When you visit Showroom Jomo, you'll feel the passion and dedication of its founders in providing the best service and a wide range of fashion solutions for their customers.
            </p>
        </div>
    </div>
</section>

<section class="contact_section" id="contact__section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
            <hr>
        </div>
        <div class="layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div id="successNotification" class="alert alert-success" style="display: none;">
                        Submitted successfully!
                    </div>
                    @if (TempData["SuccessRegisterMessage"] != null)
                    {
                        <script type="text/javascript">
                            alert("Submited successfully!");
                        </script>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-controller="Home" asp-action="Register" method="post">
                        <div class="contact_form-container">
                            <div>
                                @if (TempData["ErrorMessageFullName"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["ErrorMessageFullName"]
                                    </div>
                                }
                                <div class="row">
                                    <div class="mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="fullName" name="fullName" value="@Model?.FullName" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form3Example1m">Full name</label>
                                        </div>
                                    </div>
                                </div>
                                @if (TempData["ErrorMessagePhoneNumber"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["ErrorMessagePhoneNumber"]
                                    </div>
                                }
                                <div class="form-outline mb-4">
                                    <input type="tel" id="phoneNumber" name="phoneNumber" value="@Model?.PhoneNumber" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example90">Phone Number</label>
                                </div>
                                @if (TempData["ErrorMessageEmail"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["ErrorMessageEmail"]
                                    </div>
                                }
                                <div class="form-outline mb-4">
                                    <input type="text" id="email" name="email" value="@Model?.Email" class="form-control form-control-lg" required />
                                    <label class="form-label" for="form3Example97">Email</label>
                                </div>
                                <div class="mt-5 d-flex justify-content-center justify-content-sm-start">
                                    <button type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div class="contact_img-box">
                        <img src="images/car-service.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->
<!-- special section -->
<section class="special_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                        <img src="images/car (2).png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Cars Stocks
                        </h5>
                        <h5 class="price">
                            12000
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                        <img src="images/trophy.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Awards
                        </h5>
                        <h5 class="price">
                            600+
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                        <img src="images/shipped.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            DEALER BRANCHES
                        </h5>
                        <h5 class="price">
                            800+
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box">
                    <div class="img-box">
                        <img src="images/happiness.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Happy clients
                        </h5>
                        <h5 class="price">
                            100000+
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end special section -->
<!-- client section -->
<!-- end client section -->
@if (TempData["ErrorMessageEmail"] != null || TempData["ErrorMessagePhoneNumber"] != null || TempData["ErrorMessageFullName"] != null || TempData["ErrorMessage"] != null)
{
    <script>
        window.location.href = '#contact__section';
    </script>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("myForm");
        var successNotification = document.getElementById("successNotification");

        form.addEventListener("submit", function (event) {
            event.preventDefault();
            setTimeout(function () {
                successNotification.style.display = "block";
                form.reset();
            }, 2000);
        });
    });
</script>

